@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&family=Inter:wght@400;500;600&family=Poppins:wght@200&display=swap');

* {
  font-family: Inter;
  box-sizing: border-box;
  color: white;
}

html,body{
  margin: 0;
  padding: 0;
  
}

#app{
  height: 100vh;
  display: grid;
  grid-template-columns: 25rem 1fr;
  background: black;
}
